*{
    padding:0;
    margin:0;
}

/*******  herosection *******/
.hero-cont{
    flex-direction: column;
}
#typewrite-cont-ul{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 1rem;
    overflow: hidden;
    height: 46px;
}
#typewrite-cont-ul li{
    list-style: none;
    
    margin-bottom: 10px;
    margin-top: 5px;
    font-size:25px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 0;
    animation: slide 20s steps(2) infinite;
}
@keyframes slide{
    100%{
        top: -250px;
    }
}
#typewrite-ul-lione::after{
   content: '';
   border-left:5px solid rgb(255, 255, 255) ;
   position: absolute;
    left: 0%;
    background-color: #282C35;
    height: 100%;
    width: 100%;
    animation: typing 10s steps(26) infinite;
}
@keyframes typing{
    50%{
       left: 82%;
    }
}
#typewrite-ul-litwo::after{
   content: '';
   border-left:5px solid rgb(255, 255, 255) ;
   position: absolute;
    left: 0%;
    background-color: #282C35;
    height: 100%;
    width: 100%;
    animation: typingtwo 10s steps(17) infinite;
}
@keyframes typingtwo{
    50%{
       left: 60%;
    }
}
#welcome{
    color: white;
}



.profile-text-links{
    gap:4rem;
    padding: 20px;
}
.profile-text-links li{
    list-style: none;
}
#nav-container{
    display: flex;
    position:fixed;
    z-index: 1;
    width: 100%;
    justify-content: space-around;
    height: 6vh;
    align-items: center;
    background-color: aliceblue;
}
.profile-text-links a{
    text-decoration: none;
    color:rgb(0, 0, 0)
}
a:hover{
    color:blue;
}
.profile{
    font-size:2rem;
}

.hamburger-items{
    display: none;
}
.hamburger-icon{
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     cursor: pointer;

}
.hamburger-icon span{
    width: 100%;
    background-color:black ;
    height: 2px;
}

.menu-links a{
    text-decoration: none;
    color:rgb(29, 30, 31);
}

.hamburger-icon.active span:first-child{
    transform: rotate(45deg) translate(10px,5px);
    transition: all .4s ease-in-out;
}
.hamburger-icon.active span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.active span:last-child{
    transform: rotate(-45deg) translate(6.5px,-1px);
    transition: all .4s ease-in-out;
    
}
.profile-image{
    width: 200px;
    height: 200px;
    align-self: center;
}
.profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
    object-fit: cover;
}
#hero-section{
    background-color: #282C35;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/***************** about me ****************/
#about-me{
    background-color: #36454F;
    padding:50px 0;
}
.aboutme-heading{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.aboutme-heading h2{
    font-size: 50px;
    font-weight: 600;
    word-spacing: -5px;
    text-shadow: 7px 7px 6px ;
    margin: 0;
}
.aboutme-heading p{
    font-size: 20px;
    text-shadow: 0 0 10px;
    top: 30%;
    left:  47%;
    position: absolute;
    color: rgb(192, 184, 184);
}
.aboutme-container{
    display:flex;
    margin-top: 3rem;
}
.aboutme-ul{
    padding: 0;
    margin-left: 3rem;
    width: 100%;
    margin: 0 20px;
}
.aboutme-ul hr{
    color: rgb(244, 236, 236);
}
.aboutme-discription{
    max-width: 700px;
}
.aboutme-discription p{
    text-align: start;
}
.aboutme-discription h3{
    text-align: start;
    font-weight: 500;
}
.aboutme-personal{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 500px 500px;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
}
.aboutme-details{
    position: relative;
}
.aboutme-personal div{
    border: 2px solid white;
    border-radius: 20px;
}
/*********** skills ************/
#skills{
    background-color: #2b2e30;
    height: 100vh;
    padding: 100px 0;
}
.skill-heading{
    color: rgb(14, 164, 74);
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    position: relative;
}
.skill-heading h2{
    font-size: 80px;
}
.skill-heading p{
    position: absolute;
    top: 40%;
    color: rgb(217, 73, 16);
    text-shadow: 0 0 10px;
}
.skillsbar-container{
    display: flex;
    justify-content: center;
}
#skillbar-ul{
    color: white;
    list-style: none;
    background-color: #48494c;
    border-radius: 10px;
    padding:0;
}
#skillbar-ul li{
    margin: 1rem 1rem;
}
.skillbar-span-one{
    background-color: rgb(38, 37, 37);
    width: 500px;
    height: 20px;
    display: block;
    border-radius: 10px;
}
#skillbar-html{
    width: 0%;
    height: inherit;
    display: block;
    border-radius: inherit;
    background-color: #0D6EFD;
    animation: slides 5s infinite;
}
@keyframes slides{
    100%{
        width: 60%;
    }
}
#skillbar-css{
    width: 0%;
    height: inherit;
    display: block;
    border-radius: inherit;
    background-color: #0D6EFD;
    animation: slidesone 5s infinite;
}
@keyframes slidesone{
    100%{
        width: 60%;
    }
}
#skillbar-js{
    width: 0%;
    height: inherit;
    display: block;
    border-radius: inherit;
    background-color: #0D6EFD;
    animation: slidestwo 5s infinite;
}
@keyframes slidestwo{
    100%{
        width: 20%;
    }
}
#skillbar-wb{
    width: 0%;
    height: inherit;
    display: block;
    border-radius: inherit;
    background-color: #0D6EFD;
    animation: slidesthree 5s infinite;
}
@keyframes slidesthree{
    100%{
        width: 30%;
    }
}
#skillbar-comm{
    width: 0%;
    height: inherit;
    display: block;
    border-radius: inherit;
    background-color: #0D6EFD;
    animation: slidesfour 5s infinite;
}
@keyframes slidesfour{
    100%{
        width: 50%;
    }
}
/************** projects *************/
#projects{
    background-color: #28231D;
    height: 100vh;
    padding: 50px 0;
    position: relative;
}
.projects-heading{
    position: relative;
    display: flex;
    justify-content: center;
}
.projects-heading h2{
    color: rgb(28, 0, 154);
    font-size:50px;
}
.projects-heading p{
    color: rgb(224, 39, 6);
    position:absolute;
    top: 25%;
    font-size: 20px;
    text-shadow: 0 0 10px;
}
#shf{
    background-color: red;
    margin: 0 auto;
}
.project-picture-cont{
    position: relative;
   /* margin-top: 10rem; */
}
.project-picture-cont p{
   color: white;
   text-align: center;
}
#amazon-cont{
    position:absolute;
    top: 0;
    left: 200px;
}
#flipkart-cont{
    position:absolute;
    top: 200px;
    left: 600px;
}
#flipkart-cont img:hover {
   filter: brightness(.5);
}
#amazon-cont img:hover {
   filter: brightness(.5);
}
#tik-tak-cont img:hover {
   filter: brightness(.5);
}
#rps-cont img:hover {
   filter: brightness(.5);
}
#tik-tak-cont{
    position:absolute;
    top: 250px;
    left: 320px;
}
#rps-cont{
    position:absolute;
    top: 100px;
    left: 980px;
}
.curve{
   border-radius: 10px;
}
.popup-cont{
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
    position: absolute;
    top: 0;
    display: none;
}
.popup-cont-one{
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
    position: absolute;
    top: 0;
    display: none;
}
.popup-cont-two{
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
    position: absolute;
    top: 0;
    display: none;
}
.popup-cont-three{
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
    position: absolute;
    top: 0;
    display: none;
}
.popup-cont-four{
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
    position: absolute;
    top: 0;
    display: none;
}
.popup-cont.active{
    display: block;
}
.popup-cont-two.active{
    display: block;
}
.popup-cont-three.active{
    display: block;
}
.popup-cont-four.active{
    display: block;
}
.popup-area{
    background-color: #282C35;
    width: 80%;
    height: 90%;
    margin: 0 auto; 
    position: relative;
    top: 10%;
}
.popup-area-heading{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 2rem;
    position: relative;
}
.popup-area-heading i{
    position: absolute;
    margin-top: 1rem;
   right: 1rem;
}
#popup-area-value{
    display: flex;
    height: 80%;
}
#popup-area-picture{
    width: 50%;
    margin: 2rem;
}
#popup-area-picture img{
    width: 90%;
}
#popup-area-details{
    width: 50%;
    color: white;
    height: 100%;
}
#popup-area-details p{
    font-size: 20px;
    width: 90%;
}
#popup-area-details ul{
    margin-top: 2rem;
    font-size: 20px;
    list-style: none;
    padding: 0;
    width: 90%;
}
#popup-area-details ul hr{
    margin: 10px
    0;
}
/************ contact **************/
#contact{
    background-color:#3B3C36;
    padding: 5rem 0;
}
.contact-heading{
    display: flex;
    justify-content: center;
    position: relative;
}
.contact-heading h2{
    font-size: 100px;
    color: white;
}
.contact-heading p{
    position:absolute;
    color: red;
    font-size: 30px;
    top: 40px;
    left: 45%;
    text-shadow: 0 0 10px;
}
.contact-details{
    display: flex;
    margin-top: 7rem;
}
.contact-details-one{
    margin-left: 5rem;
    color: white;
}
.contact-details-two{
    margin-left: 5rem;
    color: white; 
    max-width: 990px;
}
.social-media h3{
    margin-bottom: 2rem;
}
.social-media i{
    margin: 0 .5rem;
}
.address p{
    margin: 5px 0;
}
.number{
    margin: 2rem 0;
}
#name-email{
    display: flex;
    gap: 2rem;
}
#name-email input{
    width: 450px;
    height: 60px;
    margin-bottom: 2rem;
    border-radius: 5px;
    background-color: #232A31;
    border: none;
    padding: 13px 15px;
}
#mess textarea{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background-color: #232A31;
    border: none;
}
.sendmssg{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.sendmssg button{
   padding: 15px 45px;
   border: none;
   border-radius: 50px;
   font-size: 20px;
   font-weight: 700;
   color: white;
   background-color: #0d6efd;
}




section a{
    text-decoration: none;
    color: rgb(17, 17, 17);
    
}
#hero-section{
    display: flex;
    align-items: center;
    height: 100vh;
}

.git-img img {
    width: 50px;
}
.section-texts{
    text-align: center;
}
#about-me{
    text-align: center;
}



.image-container{
    width: 90%;
}
.image-container img{
    width: 98.76%;
}
.hover{
    background-color: aliceblue;
    border:1px solid black;
    border-radius: 5px;
    padding:5px;
    margin:1rem;
}
.hover:hover{
    background-color: black;
    color: white;
}
strong{
    color: #0D6EFD;
}
.bg-color{
    background-color: #AFDDE5;
}

#about-me li{
    list-style: none;
    color: rgb(200, 197, 190);
    text-align: start;
    font-weight: 600;
}

#div{
    
    height: 90px;
}
