*{
    padding:0;
    margin:0;
}

.profile-text-links{
    gap:4rem;
    padding: 20px;
}
.profile-text-links li{
    list-style: none;
}
#nav-container{
    display: flex;
    justify-content: space-around;
    height: 17vh;
    align-items: center;
    background-color: aliceblue;
}
.profile-text-links a{
    text-decoration: none;
    color:rgb(29, 30, 31)
}
a:hover{
    color:blue;
}
.profile{
    font-size:2rem;
}

.hamburger-items{
    display: none;
}
.hamburger-icon{
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     cursor: pointer;

}
.hamburger-icon span{
    width: 100%;
    background-color:black ;
    height: 2px;
}

.menu-links a{
    text-decoration: none;
    color:rgb(29, 30, 31);
}

.hamburger-icon.active span:first-child{
    transform: rotate(45deg) translate(10px,5px);
    transition: all 1s ease-in-out;
}
.hamburger-icon.active span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.active span:last-child{
    transform: rotate(-45deg) translate(6.5px,-1px);
    transition: all 1s ease-in-out;
    
}
.profile-image{
    width: 200px;
    height: 200px;
}
.profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
    object-fit: cover;
}
section{
    /* margin-top:5rem ; */
    height: 100vh;
    
}
section a{
    text-decoration: none;
    color: rgb(17, 17, 17);
}
#hero-section{
    height: 82.5vh;
    display: flex;
    align-items: center;
}
.git-img img {
    width: 50px;
}
.section-texts{
    text-align: center;
}
#about-me{
    text-align: center;
}
.image img{
    width: 40px;
}
.image{
    height: 150px;
}
#flipkartimg{
    width: 220px;
    height: 130px;
}
#amazonimg{
    width: 220px;
    height: 130px;
}
.hover{
    background-color: aliceblue;
    border:1px solid black;
    border-radius: 5px;
    padding:5px;
    margin:1rem;
}
.hover:hover{
    background-color: black;
    color: white;
}
