
 @media (max-width:2560px){

}
@media (max-width:1440px){


    
}
@media (max-width:1200px){
    .aboutme-personal{
        display: grid;
        grid-template-rows: 200px 200px;
        grid-template-columns: 400px 400px;
        gap: 1rem;
        justify-content: center;
        margin-top: 3rem;
    }
}
@media (max-width:950px){
    .aboutme-personal{
        display: grid;
        grid-template-rows: 200px 200px;
        grid-template-columns: 350px 350px;
        gap: 1rem;
        justify-content: center;
        margin-top: 3rem;
    }
}
@media (max-width:800px){
    .aboutme-personal{
        display: grid;
        grid-template-rows: 200px 200px;
        grid-template-columns: 280px 280px;
        gap: 1rem;
        justify-content: center;
        margin-top: 3rem;
    }
    .aboutme-container{
        flex-direction: column;
    }
    .aboutme-discription{
        max-width: 600px;
        align-self: center;
    }
    .aboutme-discription p{
        text-align: center;
    }
    .aboutme-discription h3{
        text-align: center;
    }
    .aboutme-ul{
        width: 90%;
    }
}
@media (max-width:600px){
    .aboutme-personal{
        display: grid;
        grid-template-rows: 200px 200px;
        grid-template-columns: 240px 240px;
        gap: 1rem;
        justify-content: center;
        margin-top: 3rem;
    }
    .aboutme-personal li{
        font-size: 15px;
    }
}
@media (max-width:525px){
    .aboutme-personal{
        display: grid;
        grid-template-rows: 200px 200px;
        grid-template-columns: 205px 205px;
        gap: .5rem;
        justify-content: center;
        margin-top: 3rem;
    }
    .aboutme-personal li{
        font-size: 13px;
    }
}
@media (max-width:425px){
    .aboutme-personal{
        display: grid;
        grid-template-rows: 200px 200px;
        grid-template-columns: 180px 180px;
        gap: .5rem;
        justify-content: center;
        margin-top: 3rem;
    }
    .aboutme-personal li{
        font-size: 13px;
    }
} 
@media (max-width:375px){
    .aboutme-personal{
        display: grid;
        grid-template-rows: 180px 180px;
        grid-template-columns: 160px 160px;
        gap: .5rem;
        justify-content: center;
        margin-top: 3rem;
    }
    .aboutme-personal li{
        font-size: 10px;
    }
}
@media (max-width:350px){
    .aboutme-personal{
        display: grid;
        grid-template-rows: 150px 150px;
        grid-template-columns: 140px 140px;
        gap: .5rem;
        justify-content: center;
        margin-top: 3rem;
    }
    .aboutme-personal li{
        font-size: 8px;
    }
}