
@media (max-width:2560px){
}
@media (max-width:1440px){
}
@media (max-width:1024px){
    .inspiration-image-holder p{
        font-size: 14px;
    }
    .inspiration-image-container{
        row-gap: 1rem;
        grid-template-rows: repeat(2,250px);
    }
}
@media (max-width:768px){
    .inspiration-image-holder p{
        font-size: 12px;
    }
    .inspiration-image-container{
        row-gap: 1rem;
        grid-template-columns: repeat(3,30%);
        grid-template-rows: repeat(3,200px);
    }
    .inspiration-image-holder img{
        width: 150px;
    }
}
@media (max-width:680px){
    .inspiration-image-holder p{
        font-size: 8px;
    }
    .inspiration-image-container{
        row-gap: 1rem;
        grid-template-rows: repeat(2,150px);
    }
    .inspiration-image-holder img{
        width: 140px;
    }
}
@media (max-width:550px){
    .inspiration-image-holder p{
        font-size: 6px;
    }
    .inspiration-image-container{
        row-gap: 1rem;
    }
    .inspiration-image-holder img{
        width: 120px;
    }
}
@media (max-width:480px){
    .inspiration-image-holder p{
        font-size: 5px;
    }
    .inspiration-image-container{
        row-gap: 1rem;
    }
    .inspiration-image-holder img{
        width: 110px;
    }
}
@media (max-width:440px){
    .inspiration-image-holder p{
        font-size: 5px;
    }
    .inspiration-image-container{
        row-gap: 1rem;
    }
    .inspiration-image-holder img{
        width: 100px;
    }
}
@media (max-width:400px){
    .inspiration-image-holder p{
        font-size: 5px;
    }
    .inspiration-image-container{
        row-gap: 1rem;
    }
    .inspiration-image-holder img{
        width: 90px;
    }
}
@media (max-width:375px){
    .inspiration-image-holder p{
        font-size: 4px;
    }
    .inspiration-image-container{
        row-gap: 1rem;
    }
    .inspiration-image-holder img{
        width: 70px;
    }
}