
 @media (max-width:2560px){
    #projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:1440px){
 
   .hover{
       padding:5px;
       font-size: 18px;
       margin: 0;
       margin-top: 5px;
       margin-bottom: 5px;
       margin-left: 8px;
       margin-right:8px;
   }
   .heading-1{
       font-size: 1.5rem;
   }
   .projects-subtitle{
      font-size: 16px;
   }
    .heading-project{
      font-size: 40px;
      margin-bottom: 1rem;
   }
   .space{
    padding-top: 2rem;

   }
}
@media (max-width:1024px){
  
   .hover{
       padding:2px;
       font-size: 15px;
       margin: 0;
       margin-top: 5px;
       margin-bottom: 5px;
       margin-left: 5px;
       margin-right:5px;
   }
   .heading-1{
       font-size: 1rem;
   }
   .projects-subtitle{
      font-size: 15px;
   }
    .heading-project{
      font-size: 30px;
      margin-bottom: 1rem;
   }
   .space{
    padding-top: 1rem;

   }
}
@media (max-width:768px){
    
   .hover{
       padding:3px;
       font-size: 12px;
       margin: 0;
       margin-top: 5px;
       margin-bottom: 5px;
   }
   .heading-1{
       font-size: 1rem;
   }
   .projects-subtitle{
      font-size: 12px;
   }
    .heading-project{
      font-size: 20px;
      margin-bottom: 1rem;
   }
   .space{
    padding-top: 1rem;

   }
}
@media (max-width:425px){

   .hover{
       padding:2px;
       font-size: 11px;
       margin: 0;
       margin-top: 5px;
       margin-bottom: 5px;
   }
   .heading-1{
       font-size: 1rem;
   }
   .projects-subtitle{
      font-size: 12px;
   }
    .heading-project{
      font-size: 22px;
      margin-bottom: 1rem;
   }
   .space{
    padding-top: 1rem;

   }
  
}
@media (max-width:375px){

   .hover{
       padding:1px;
       font-size: 10px;
       margin: 0;
       margin-top: 5px;
       margin-bottom: 5px;
   }
   .heading-1{
       font-size: .8rem;
   }
   .space{
    padding-top: 2rem;
}
.space{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}
.space-1{
    margin-bottom: .5rem;
}
}
@media (max-width:320px){

    .heading-1{
        font-size: .8rem;
    }
    .space{
        padding-top: 2rem;
    }
    .space{
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: space-evenly;
        align-items: center;
    }
}